/*start form login*/

:root {
    --cream1: #F2E1D9;
    --cream2: #F4E1DB;
    --purple: #60184C;
    --brown: #C4A099;
    --light: #FFF8DF;
}


.bodylogin{
    background : #FFF;
    background: url("../img/coffee.png") no-repeat;
    background-size: cover;
    margin-top:0;
}
.login{
    background-color: var(--cream2);
    color: var(--purple);
    width:450px;
    min-height:100px;
    padding: 3rem;
    margin: 250px auto;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}
.login i{
    color: var(--purple);
}
.login form div input {
    margin-bottom: 1rem;
    border: 0;
    border-radius: 5px;
    background-color: var(--light);
} 
@media(max-width:450px) {
    .login{
      width:300px;
    }
}
/*end form login*/

/*Template admin*/

body {
    background-color: #fff;
}

#wrapper {
    padding-left:0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

